.InfoWindow {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  height: 100%;
  flex: 1;
  white-space: pre-wrap;
}
.InfoData>a{
  justify-content: center;
}
.credits>a{
  justify-content: center;
}
