#root {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
    overflow: hidden;
	background-image: url("/img/bg.png");
	background-size: cover;
}
.Windows {
	width: 0;
	height: 0;
  left: 5cqw;
  top: 0;
  position:absolute;
}
.Background {
  width: 100%;
  height: 100%;
  display: flex;

}
.SideBar {
  display: flex;
  flex-direction: column;
  width: 5cqw;
  height: 100%;
  background-color: #11111bC0;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  justify-content: space-between;
}
.SidePreview {
	position: fixed;
	background-color: #202020;
	border: solid;
	border-radius: 10%;
	padding: 2px;
  z-index: 9007199254740991;
  direction: ltr;
}
.Desktop {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  direction: rtl;
  gap: 0;
  height: 100vh;
}
.DesktopButton {
  width: 5cqw;
  height: 7cqw;
}
.DesktopButton > img {
  width: 100%;
}
