body {
  overflow: hidden;
}
#root {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
    overflow: hidden;
	background-image: url("/img/bg.png");
	background-size: cover;
}
.Windows {
	width: 0;
	height: 0;
  left: 5cqw;
  top: 0;
  position:absolute;
}
.Background {
  width: 100%;
  height: 100%;
  display: flex;

}
.SideBar {
  display: flex;
  flex-direction: column;
  width: 5cqw;
  height: 100%;
  background-color: #11111bC0;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  justify-content: space-between;
}
.SidePreview {
	position: fixed;
	background-color: #202020;
	border: solid;
	border-radius: 10%;
	padding: 2px;
  z-index: 9007199254740990;
  direction: ltr;
}
.SideButtons {
  width: 100%;
}
.sideButtons > img {
  width: 100%;
}
.Desktop {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  direction: rtl;
  gap: 0;
  height: 100vh;
}
.DesktopButton {
  width: 5cqw;
  height: 7cqw;
}
.DesktopButton > img {
  width: 100%;
}
.ContextMenu {
  position: absolute;
  background-color: #11111bC0;
  text-align: center;
  border: solid;
	padding: 10px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
  z-index: 9007199254740991;
}
.ContextMenu > h3 {
  margin: 0;
}
.ContextMenu > hr {
  margin: 5px;
}
.ContextItems {
  display:flex;
  flex-direction: column;
}
.ContextText:hover {
  background-color: #2e1e3eC0;
  border-radius: 6px;
}
